@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  --clr-cyan-900: "hsl(180, 14%, 20%)";
  --clr-cyan-700: "hsl(180, 8%, 52%)";
  --clr-cyan-500: "hsl(180, 29%, 50%)";
  --clr-cyan-100: "hsl(180, 52%, 96%)";
  --clr-cyan-50: "hsl(180, 31%, 95%)";
  --clr-white: "#FFFFFF";
  --ff: "League Spartan", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--ff);
  font-size: 15px;
  font-weight: 500;
}
