@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  --clr-cyan-900: hsl(180, 14%, 20%);
  --clr-cyan-700: hsl(180, 8%, 52%);
  --clr-cyan-500: hsl(180, 29%, 50%);
  --clr-cyan-100: hsl(180, 52%, 96%);
  --clr-cyan-50: hsl(180, 31%, 95%);
  --clr-white: #ffffff;
  --ff: "League Spartan", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

header {
  height: 150px;
  background-image: url(./images/bg-header-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-cyan-500);
}

body {
  min-height: 100vh;
  font-family: var(--ff);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--clr-cyan-100);
}

main {
  position: relative;
}

.right-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--clr-cyan-500);
  border-radius: 8px 0 0 8px;
}

.parent {
  padding-inline: 24px;
  padding-block: 48px 24px;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  display: grid;
  gap: 36px;
}

.parent.show-search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -78px;
}

.search {
  background-color: var(--clr-white);
  border-radius: 8px;
  padding: 16px;
  padding-right: 64px;
  position: relative;
  margin-bottom: 32px;
  display: none;
}

.parent.show-search > .search {
  display: block;
}

.search-tablets {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.search-tablets > div {
  color: var(--clr-cyan-500);
  background-color: var(--clr-cyan-50);
  cursor: pointer;
  padding-inline: 10px 40px;
  padding-block: 6px;
  font-weight: 700;
  border-radius: 4px;
  position: relative;
}

.search-tablets > div::after {
  content: "✖";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-color: var(--clr-cyan-500);
  border-radius: 0 4px 4px 0;
  color: var(--clr-cyan-50);
  display: grid;
  place-content: center;
}

.search-tablets > div:hover::after {
  background-color: var(--clr-cyan-900);
  transition: all 100ms;
}

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  cursor: pointer;
}

.clear:hover {
  text-decoration: underline;
  color: var(--clr-cyan-500);
  transition: all 100ms;
}

.card {
  background-color: var(--clr-white);
  position: relative;
  border-radius: 8px;
  padding: 24px;
  padding-top: 32px;
  box-shadow: 0 10px 15px -3px hsl(180 29% 50% / 0.1),
    0 4px 6px -4px hsl(180 29% 50% / 0.1);
}

.logo {
  position: absolute;
  top: -24px;
  left: 24px;
}

.logo img {
  height: 48px;
  width: 48px;
}

.content {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
}

.info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.company {
  color: var(--clr-cyan-500);
  font-weight: 700;
  text-transform: capitalize;
}

.tags {
  display: flex;
  gap: 8px;
  font-size: 12px;
}

.new,
.featured {
  background-color: var(--clr-cyan-500);
  padding-inline: 8px;
  padding-block: 6px 4px;
  color: var(--clr-white);
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 700;
}

.featured {
  background-color: var(--clr-cyan-900);
}

.position {
  color: var(--clr-cyan-900);
  font-weight: 700;
  cursor: pointer;
}

.position:hover {
  color: var(--clr-cyan-500);
  transition: color 100ms;
}

.post-info {
  color: var(--clr-cyan-700);
}

.post-info > *:not(:first-child)::before {
  content: "•";
  margin-inline: 6px 10px;
}

hr {
  border: none;
  border-top: 1px solid var(--clr-cyan-700);
  margin-block: 16px;
}

.tablet-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.tablet {
  color: var(--clr-cyan-500);
  background-color: var(--clr-cyan-50);
  cursor: pointer;
  padding-inline: 10px;
  padding-block: 6px;
  font-weight: 700;
  border-radius: 4px;
}

.tablet:hover {
  background-color: var(--clr-cyan-500);
  color: var(--clr-cyan-50);
  transition: all 100ms;
}

@media (min-width: 600px) {
  header {
    height: 180px;
    background-image: url(./images/bg-header-desktop.svg);
  }

  .parent {
    padding-block: 60px 80px;
    gap: 24px;
    top: -90px;
  }

  .right-line::before {
    border-radius: 12px 0 0 12px;
  }

  .card {
    border-radius: 12px;
    padding-inline: 32px;
    padding-block: 24px;
  }

  .left {
    display: flex;
    gap: 20px;
  }

  .logo {
    position: static;
  }

  .logo img {
    height: auto;
    width: auto;
  }

  .content {
    margin-bottom: 0;
  }

  .company {
    font-size: 16px;
  }

  .position {
    font-size: 20px;
  }

  .post-info {
    font-size: 16px;
  }

  .post-info > *:not(:first-child)::before {
    content: "•";
    margin-inline: 10px 14px;
  }
}

@media (min-width: 960px) {
  .card {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
  }

  hr {
    display: none;
  }
}
